body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-color: #4883cf;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#topNav {
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  padding: 10px;
  width: 100%;
}

#topNav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 5px;

}

#topNav a:hover {
  color: rgb(114, 114, 114);
  transition: ease-in 0.2s, ease-out 0.2s;
}

.menu-toggle {
  display: block;
  cursor: pointer;
  background-color: #000;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
}

.bar {
  background-color: #fff;
  height: 4px;
  width: 24px;
  margin: 5px 3px;
  border-radius: 3px;
}

#navLinks.hidden {
  display: none;
}

#navLinks {
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  padding: 10px;
  width: 100%;
}

#navLinks a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
}

#navLinks a:hover {
  color: rgb(114, 114, 114);
  transition: ease-in 0.2s, ease-out 0.2s;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  #navLinks.hidden {
    display: flex;
  }
}

.pricing-container {
  display: grid;
  justify-content: space-around;
  grid-gap: 50px;
  padding: 50px;
}

.pricing-option {
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in;
}

.pricing-option:hover {
  transform: scale(1.05);
}

.pricing-option.recommended {
  background-color: #007BFF;
  color: #fff;
}

h2 {
  color: #333;
  font-size: 24px;
}

p {
  color: #555;
}

a.action-link {
  display: block;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

a.action-link:hover {
  background-color: #0056b3;
}

.icon {
  font-size: 40px;
  margin: 10px 0;
}

footer {
  display: flex;
  background-color: #000;
  color: #fff;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: auto;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 20px;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.panel-container strong {
  line-height: 20px;
}

.panel-container.hidden {
  display: none;
}

.panel-exit {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}